.address{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  line-height: 10px;
} 

.maps-container{
  display: flex;
  flex-direction: row;
}

.map{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  line-height: 10px;
}